html{
  margin:0;
  padding: 0;
}

.navigation {
  overflow: hidden;
  background-color: rgb(23, 61, 135);
  border-radius: 45em;
  opacity: 0.8;
}

/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: #5b66c9;
  color: #ffffff ;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #97a7cf;
  color: white;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 1.2em;
  color: #303030;
  background-image: url('https://www.freepnglogos.com/uploads/road-png/road-moving-straight-background-tilesprite-phaser-html-9.png');
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: left;
}

.main-content {
  overflow: scroll;
  padding: 1em;
  border-radius: 15px;
  width: auto;
  height: 700px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.4);
}

h1 {
  margin: 0 0 1em 0;
}

p {
  margin: 1em 0;
}

/*THIS IS THE BUTTON!!!!!!! */
a.button, input.button {
  border:1px solid #05153b;
  padding:0.5em;
  margin:0.5em;
  border-radius: 0.45em;
  text-decoration: none;
  background-color: #173d87;
  opacity: 0.8;
  color: white;
  box-shadow: 2px 2px 2px 2px #6a8de5;
}

a.button:hover, input.button:hover {
  background-color: #5b66c9;
  color: white;
}

input {
  padding: 0.2em;
  font-size:100%;
}

input.button {
  background-color: #99ff99;
}
table {
  border:1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

table td, table th {
  border: 1px solid #999;
  padding: 0.5rem;
}
.spacer {
  margin: 3em 0;
}

label {
  width: 240px;
  display: inline-block;
  text-align: right;
}

input {
    margin-left: 10px;
    background-color: #f4f6ec;
}

select {
    padding: 0.2em;
    margin-left: 10px;
    width: 212px;
    font-size:100%;
    background-color: #f4f6ec;
}

br {
    line-height: 40px;
 }

.other input.button {
  margin-left: 330px;
  cursor: grab;
}

h1 {
  font-family: ".AppleSystemUIFont";
  font-weight: bold;
}

@keyframes bgcolor {
  0% {
    background-color: #cce6ff
  }

  20% {
    background-color: #80bfff
  }

  40% {
    background-color: #4da6ff
  }

  60% {
    background-color: #1a8cff
  }

  80% {
    background-color: #0073e6
  }

  100% {
    background-color: #0059b3
  }
}

body {

  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
