<!doctype html>
<html>
  <head>
   <meta charset="utf-8" />
   {% block scripts %}
        <link rel="stylesheet" media="screen, projector, print" type="text/css" href="{{ url_for('static', filename="/css/app.css") }}" />
        <script type="text/javascript" src="/static/scripts/autofill.js"></script>
        <script type="text/javascript" src="/static/scripts/delete_rec.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/switch.css"/>
   {% endblock %}
  </head>
  <body>
    <div class="main-content">

      {% block content %}{% endblock %}

    </div>
  </body>
</html>