<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
    <form action="/new" method="post">
      <label for="qty_wheels">Number of Wheels:</label>
      <input type="text" name="qty_wheels" placeholder="Enter a whole number"/>
      <br>

      <label for="power_type">Primary Power:</label>
            <select name="power_type" id="power_type">
              <option value="Petrol">Petrol</option>
              <option value="Fusion">Fusion</option>
              <option value="Steam">Steam</option>
              <option value="Bio">Bio</option>
              <option value="Electric">Electric</option>
              <option value="Rocket">Rocket</option>
              <option value="Hamster">Hamster</option>
              <option value="Thermo">Thermo</option>
              <option value="Solar">Solar</option>
              <option value="Wind">Wind</option>
            </select>
    <br>

    <label for="power_units">Power Units:</label>
    <input type="text" name="power_units" placeholder="Enter a whole number"/>
    <br>

    <label for="aux_power_type">Auxiliary Power:</label>
        <select name="aux_power_type" id="aux_power_type">
            <option value="Petrol">Petrol</option>
            <option value="Fusion">Fusion</option>
            <option value="Steam">Steam</option>
            <option value="Bio">Bio</option>
            <option value="Electric">Electric</option>
            <option value="Rocket">Rocket</option>
            <option value="Hamster">Hamster</option>
            <option value="Thermo">Thermo</option>
            <option value="Solar">Solar</option>
            <option value="Wind">Wind</option>
        </select>
    <br>

    <label for="aux_power_units">Aux Power Units:</label>
    <input type="text" name="aux_power_units" placeholder="Enter a whole number"/>
    <br>

    <label for="hamster_booster">Hamster Booster:</label>
    <input type="text" name="hamster_booster" placeholder="Enter a whole number"/>
    <br>
    <label for="flag_color">Flag Color:</label>
    <input type="color"  value="#ffffff" name="flag_color" placeholder="Enter a color"/>
    <br>

    <label for="flag_pattern">Flag Pattern:</label>
        <select name="flag_pattern" id="flag_pattern">
            <option value="Plain">Plain</option>
            <option value="Vstripe">Vstripe</option>
            <option value="Hstripe">Hstripe</option>
            <option value="Dstripe">Dstripe</option>
            <option value="Checker">Checker</option>
            <option value="Spot">Spot</option>
        </select>
    <br>

    <label for="flag_color_secondary">Secondary Flag Color:</label>
    <input type="color"  value="#000000" name="flag_color_secondary" placeholder="Enter a color"/>
    <br>




    <br>
       <div class="other">
           <input type="submit" class="button">
       </div>

    </form>
    <p>
        <a href="/" class="button">Home</a>
    </p>


{% endblock %}
