<!doctype html>

{% extends "base.html" %}

{% block content %}


  <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>{{title}}</h1>

    <label for="buggy_id">Buggy ID:</label>
    <input type="text" class="bid" id="buggy_id" name="buggy_id" value="{{ buggy }}" disabled>
    <br>

    <form id="new_buggy_form" action="/new" method="post">
      <label for="qty_wheels">Number of Wheels:</label>
      <input type="text" value="4" id="qty_wheels" name="qty_wheels" placeholder="Enter a whole number"/>
      <br>

      <label for="power_type">Primary Power:</label>
            <select name="power_type" id="power_type">
              <option value="Petrol">Petrol</option>
              <option value="Fusion">Fusion</option>
              <option value="Steam">Steam</option>
              <option value="Bio">Bio</option>
              <option value="Electric">Electric</option>
              <option value="Rocket">Rocket</option>
              <option value="Hamster">Hamster</option>
              <option value="Thermo">Thermo</option>
              <option value="Solar">Solar</option>
              <option value="Wind">Wind</option>
            </select>
    <br>

    <label for="power_units">Power Units:</label>
    <input type="text" value="1" id="power_units" name="power_units" placeholder="Enter a whole number"/>
    <br>

    <label for="aux_power_type">Auxiliary Power:</label>
        <select name="aux_power_type" id="aux_power_type">
            <option value="None">None</option>
            <option value="Petrol">Petrol</option>
            <option value="Fusion">Fusion</option>
            <option value="Steam">Steam</option>
            <option value="Bio">Bio</option>
            <option value="Electric">Electric</option>
            <option value="Rocket">Rocket</option>
            <option value="Hamster">Hamster</option>
            <option value="Thermo">Thermo</option>
            <option value="Solar">Solar</option>
            <option value="Wind">Wind</option>
        </select>
    <br>

    <label for="aux_power_units">Aux Power Units:</label>
    <input type="text" value="0" id="aux_power_units" name="aux_power_units" placeholder="Enter a whole number"/>
    <br>

    <label for="hamster_booster">Hamster Booster:</label>
    <input type="text" value="0" id="hamster_booster" name="hamster_booster" placeholder="Enter a whole number"/>
    <br>

    <label for="flag_color">Flag Color:</label>
    <input type="color"  value="#ffffff" id="flag_color" name="flag_color" placeholder="Enter a color"/>
    <br>

    <label for="flag_pattern">Flag Pattern:</label>
        <select name="flag_pattern" id="flag_pattern">
            <option value="Plain">Plain</option>
            <option value="Vstripe">Vstripe</option>
            <option value="Hstripe">Hstripe</option>
            <option value="Dstripe">Dstripe</option>
            <option value="Checker">Checker</option>
            <option value="Spot">Spot</option>
        </select>
    <br>

    <label for="flag_color_secondary">Secondary Flag Color:</label>
    <input type="color"  value="#000000" id="flag_color_secondary" name="flag_color_secondary" placeholder="Enter a color"/>
    <br>

     <label for="tyres">Tyre Type:</label>
        <select name="tyres" id="tyres">
            <option value="Knobbly">Knobbly</option>
            <option value="Slick">Slick</option>
            <option value="Steelband">Steelband</option>
            <option value="Reactive">Reactive</option>
            <option value="Maglev">Maglev</option>
        </select>
    <br>

    <label for="qty_tyres">Number of Tyres:</label>
    <input type="text" value="4" id="qty_tyres" name="qty_tyres" placeholder="Enter a whole number"/>
    <br>

     <label for="armour">Armour:</label>
        <select name="armour" id="armour">
            <option value="None">None</option>
            <option value="Wood">Wood</option>
            <option value="Aluminium">Aluminium</option>
            <option value="Thinsteel">Thinsteel</option>
            <option value="Thicksteel">Thicksteel</option>
            <option value="Titanium">Titanium</option>
        </select>
    <br>

     <label for="attack">Attack:</label>
        <select name="attack" id="attack">
            <option value="None">None</option>
            <option value="Spike">Spike</option>
            <option value="Flame">Flame</option>
            <option value="Charge">Charge</option>
            <option value="Biozhazard">Biozhazard</option>
        </select>
    <br>

    <label for="qty_attacks">Number of Attacks:</label>
    <input type="text" value="0" id="qty_attacks" name="qty_attacks" placeholder="Enter a whole number"/>
    <br>
    <!--
    <p><label for="fireproof">Fireproof:</label><input type="checkbox" id="fireproof" name="fireproof" value="on" data-on="YES" data-off="NO" />
        <label for="fireproof"></label><input type="hidden" id="fireproof-hidden" name="fireproof" value="off" data-on="YES" data-off="NO" />
    </p>

    <p><label for="insulated">Insulated:</label><input type="checkbox" id="insulated" name="insulated" value="on" data-on="YES" data-off="NO" />
        <label for="insulated"></label><input type="hidden" id="insulated-hidden" name="insulated" value="off" data-on="YES" data-off="NO" />
    </p>

    <p><label for="antibiotic">Antibiotic:</label><input type="checkbox" id="antibiotic" name="antibiotic" value="on" data-on="YES" data-off="NO" />
        <label for="antibiotic"></label><input type="hidden" id="antibiotic-hidden" name="antibiotic" value="off" data-on="YES" data-off="NO" />
    </p>

    <p><label for="banging">Banging:</label><input type="checkbox" id="banging" name="banging" data-on="YES" value="on" data-off="NO" />
        <label for="banging"></label><input type="hidden" id="banging-hidden" name="banging" data-on="YES" value="off" data-off="NO" />
    </p>
    -->

    <p><label for="fireproof">Fireproof:</label>
        <label class="switch"><input type="checkbox" name="fireproof" id="fireproof" value="True"><span class="slider round"></span></label>
    </p>
    <p><label for="insulated">Insulated:</label>
        <label class="switch"><input type="checkbox" name="insulated" id="insulated" value="True"><span class="slider round"></span></label>
    </p>
    <p><label for="antibiotic">Antibiotic:</label>
        <label class="switch"><input type="checkbox" name="antibiotic" id="antibiotic" value="True"><span class="slider round"></span></label>
    </p>
    <p><label for="banging">Banging:</label>
        <label class="switch"><input type="checkbox" name="banging" id="banging" value="True"><span class="slider round"></span></label>
    </p>

    <label for="algo">Race Computer Algorithm:</label>
        <select name="algo" id="algo">
            <option value="Steady">Steady</option>
            <option value="Defensive">Defensive</option>
            <option value="Offensive">Offensive</option>
            <option value="Titfortat">Titfortat</option>
            <option value="Random">Random</option>
            <option value="Buggy">Buggy</option>
        </select>

    <input type="hidden" id="action" name="action"/>

    </form>
    <br>

    <p>
        <a href="/" class="button">Home</a>
        <a href="#" onClick="autoFill(); return true;" class="button">Set Defaults</a>
        <a href="#" onClick="submitMainForm(); return true;" class="button">Create new buggy</a>

    </p>

{% endblock %}
