{% extends "base.html" %}

{% block content %}

    <script>
        window.onload = function () {
            $(function() {
              let x = document.getElementById("buggy_record").getElementsByTagName("td");
              x[15].style.backgroundColor = $(this).find('td:eq(15)').html();
              x[19].style.backgroundColor = $(this).find('td:eq(19)').html();
            });
        }
    </script>
  <h1>Buggy</h1>

  <table id="buggy_record" class="buggy-record">
    <tr><td>ID:</td> <td> {{ buggy[0] }} </td></tr>
    <tr><td>Wheels:</td> <td> {{ buggy[1] }} </td></tr>
    <tr><td>Primary Power:</td> <td> {{ buggy[2] }} </td></tr>
    <tr><td>Power Units:</td> <td> {{ buggy[3] }} </td></tr>
    <tr><td>Auxiliary Power:</td> <td> {{ buggy[4] }} </td></tr>
    <tr><td>Aux Power Units:</td> <td> {{ buggy[5] }} </td></tr>
    <tr><td>Hamster Booster:</td> <td> {{ buggy[6] }} </td></tr>
    <tr><td>Flag Color:</td> <td> {{ buggy[7] }} </td></tr>
    <tr><td>Flag Pattern:</td> <td> {{ buggy[8] }} </td></tr>
    <tr><td>Secondary Flag Color:</td> <td> {{ buggy[9] }} </td></tr>
    <tr><td>Tyre Type:</td> <td> {{ buggy[10] }} </td></tr>
    <tr><td>Number of Tyres:</td> <td> {{ buggy[11] }} </td></tr>
    <tr> <td>Armour:</td> <td> {{ buggy[12] }} </td></tr>
    <tr><td>Attack:</td> <td> {{ buggy[13] }} </td></tr>
    <tr><td>Number of Attacks:</td> <td> {{ buggy[14] }} </td></tr>
    <tr><td>Fireproof:</td> <td> {{ buggy[15] }} </td></tr>
    <tr><td>Insulated:</td> <td> {{ buggy[16] }} </td></tr>
    <tr><td>Antibiotic:</td> <td> {{ buggy[17] }} </td></tr>
    <tr><td>Banging:</td> <td> {{ buggy[18] }} </td></tr>
    <tr><td>Race Computer Algorithm:</td> <td> {{ buggy[19] }} </td></tr>
    <tr><td>Buggy Cost:</td> <td> {{ buggy[20] }} </td></tr>

  </table>

  <p>
    <a href="/index" class="button">Home</a>
  </p>

{% endblock %}
