{% extends "base.html" %}

{% block content %}
<title>Buggy race editor</title>
  <h1>
    Welcome to the buggy race editor!
  </h1>

  <div class="navigation">
      <a class="active" href="/index">Home</a>
      <a href="/new">Make buggy</a>
      <a href="/list">List buggies</a>
      <a href="/buggy">Show buggy</a>
      <a href="/json">Get buggy JSON</a>
      <a href="/change-pass">Change password</a>
      <a href="/about">About</a>
      <a href="/logout">Log out</a>
  </div>

  <p>
      <u>Rules of the buggy race:</u>
    <li>
        The number of wheels for your buggy must be even and greater than 4.
    </li>
    <li>
        You may only have <b> 1 unit </b> of power if your primary/secondary motive power is consumable.
    </li>
    <li>
        You may only have hamster booster power units if your primary/secondary motive power is "Hamster booster".
    </li>
    <li>
        You may only have <b> 1 unit </b> of power if your primary/secondary motive power is consumable.
    </li>

  </p>
  <p>
    Your final design can be submitted by clicking
    <strong><a href="http://rhul.buggyrace.net">here</a></strong>.
  </p>

{% endblock %}
