<!doctype html>

{% extends "base.html" %}


{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <h1>List Buggies</h1>

  <table id="buggies">
   <tr>
       <td>ID</td> <td>Wheels</td> <td>Pri Power</td><td>Pri Units</td> <td>Aux Power</td> <td>Aux Units</td>
       <td>Hamster</td> <td>Flag Col</td> <td>Flag Pattern</td><td>Flag Col 2</td> <td>Tyres</td> <td>#Tyres</td>
       <td>Armour</td> <td>Attack</td> <td>#Attacks</td><td>Fireproof</td> <td>Insulated</td> <td>Antibiotic</td>
       <td>Banging</td> <td>Algorithm</td>
   </tr>

   {% for buggy in buggies %}
        <tr class = "notfirst">
           <td> {{ buggy['id'] }} </td><td> {{ buggy['qty_wheels'] }} </td><td> {{ buggy['power_type'] }} </td>
            <td> {{ buggy['power_units'] }} </td><td> {{ buggy['aux_power_type'] }} </td><td> {{ buggy['aux_power_units'] }} </td>
            <td> {{ buggy['hamster_booster'] }} </td><td> {{ buggy['flag_color'] }} </td><td> {{ buggy['flag_pattern'] }} </td>
            <td> {{ buggy['flag_color_secondary'] }} </td><td> {{ buggy['tyres'] }} </td><td> {{ buggy['qty_tyres'] }} </td>
            <td> {{ buggy['armour'] }} </td><td> {{ buggy['attack'] }} </td><td> {{ buggy['qty_attacks'] }} </td>
            <td> {{ buggy['fireproof'] }} </td><td> {{ buggy['insulated'] }} </td><td> {{ buggy['antibiotic'] }} </td>
            <td> {{ buggy['banging'] }} </td><td> {{ buggy['algo'] }} </td>
        </tr>
  {% endfor %}

  </table>


  <form id="edit_list" action="/list" method="post">
      <input type="hidden" value="1" id="selected_id" name="selected_id"/>
      <input type="hidden" value="Petrol" id="sel_primary_power" name="sel_primary_power"/>
      <input type="hidden" value="None" id="sel_aux_power" name="sel_aux_power"/>
      <input type="hidden" value="Plain" id="sel_flag_pattern" name="sel_flag_pattern"/>
      <input type="hidden" value="Knobbly" id="sel_tyre_type" name="sel_tyre_type"/>
      <input type="hidden" value="None" id="sel_armour" name="sel_armour"/>
      <input type="hidden" value="None" id="sel_attack" name="sel_attack"/>
      <input type="hidden" value="False" id="sel_fireproof" name="sel_fireproof"/>
      <input type="hidden" value="False" id="sel_insulated" name="sel_insulated"/>
      <input type="hidden" value="False" id="sel_antibiotic" name="sel_antibiotic"/>
      <input type="hidden" value="False" id="sel_banging" name="sel_banging"/>
      <input type="hidden" value="Steady" id="sel_algo" name="sel_algo"/>
      <input type="hidden" value="edit" id="action" name="action"/>
  </form>

  <div class="spacer">
      <a href="/index" class="button">Home</a>
      <a href="#" type="button" id="submit_id" name="submit_id" class="button" onclick="submitEdit()" value="Submit Edit">Edit</a>
      <a href="#" type="button" id="delete_rec" name="delete_rec" class="button" onclick="submitDelete()" value="Submit Delete">Delete</a>
  </div>


{% endblock %}
