<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<nav class=nav>
  <ul>
    <li>
      <a class="current" href="/">Login</a>
    </li>
    <li>
      <a href="/register">Register</a>
    </li>
    <li>
      <a href="/forgot-pass">Forgot password</a>
    </li>
  </ul>
</nav>

<title>Login</title>
<div class="login">
    <h1>Welcome to RHUL Buggy Racing</h1>
    <form action="/login" method="post">
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log in</button>
    </form>
</div>
