<link rel="stylesheet" type="text/css" href="/static/css/poster.css"/>
<h1>PHASE 6</h1>
<div class="navigation">
    <a href="/index">Home</a>
    <a href="/new">Make buggy</a>
    <a href="/list">List buggies</a>
    <a href="/buggy">Show buggy</a>
    <a href="/json">Get buggy JSON</a>
    <a href="/change-pass">Change password</a>
    <a class="active" href="/poster">Poster</a>
    <a href="/about">About</a>
    <a href="/logout">Log out</a>
</div>

<nav class=nav>
  <ul>
    <li>
      <a href="/poster">Sell Buggy</a>
    </li>
    <li>
      <a href="/phase0">Phase 0</a>
    </li>
    <li>
      <a href="/phase1">Phase 1</a>
    </li>
    <li>
      <a href="/phase2">Phase 2</a>
    </li>
    <li>
      <a href="/phase3">Phase 3</a>
    </li>
    <li>
      <a href="/phase4">Phase 4</a>
    </li>
    <li>
      <a href="/phase5">Phase 5</a>
    </li>
    <li>
      <a class="current" href="/phase6">Phase 6</a>
    </li>
  </ul>
  </nav>

<section class="poster">
    <div>
        <h2>6-FREE Add custom features to the editor</h2>
        <p>
            I added the following additional features:
        </p>
        <ol>
            <li>
                <b>Sliding buttons</b> - These were added to the buggy-form in a replacement of the standard checkboxes
                to choose options fireproof, insulated, antibiotic and banging. These buttons look more appealing and
                give a good visual indication of the choice with clear <r>RED</r> and <g>GREEN</g> colours.
            </li>
            <br>
            <li>
                <b>Selecting a buggy</b> - I decided to allow a user to select a buggy from a list rather than type in a buggy
                id as input when editing/deleting a buggy. This improved the usability of the software and gave a good
                visual indication of the available buggies adn their properties.
            </li>
            <br>
            <li>
                <b>Navigation Bars</b> - Added a navigation bar on several pages to improve the user interface. It looks more in
                line with other websites in the internet.
            </li>
            <br>
            <li>
                <b>Change password</b> - I thought it was absolutely necessary to include this feature as a user may want to
                change their password, especially after a password reset when a random password is received via email.
            </li>
            <br>
            <li>
                <b>User registration</b> - This option was a must as new users will not be able to participate.
            </li>
            <br>
        </ol>
        <g>All of the above are tested to be working well.</g>
    </div>
</section>